.news {
    background-color: #EAEEEF;
    border-radius: 7px;
    color: rgb(81, 123, 137);
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 11vw;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    /* flex-direction: column; */

}


.controlpanel {
    /* margin-top: 90svh; */
    align-self: center;
    position: fixed;
    flex-direction: column;
    bottom: 0;
}

.control_buttons {
    margin-left: 1vw;
    border: none;
    border-radius: 7px;
    color: rgb(81, 123, 137);
    font-size: 1.3rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}
