.post {
    color: #EAEEEF;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    padding: 0.5rem 0.75rem;
    flex-direction: column;
    justify-self: center;
}

.odd {
    margin: 1vh 0 1vh 0;
    align-self: flex-start;
    background-color: #A7C4D4;
    min-width: 70%;
}

.even {
    align-self: flex-end;
    background-color: #9EABB3;
    min-width: 60%;
}

.auth {
    align-self: flex-end;
}
