.form {
    /* margin-top: 3.6vh; */
    padding-top: 8px;
    /* margin-top: 79vh; */
    margin-left: -11vw;
    position: fixed;
    display: flex;
    /* flex-direction: column; */
    min-width: 100%;
    /* height: 13.5vh; */
    align-self: flex-start;
    justify-content: center;
    background: #4F6C77;
    bottom: 0;
    flex-wrap: wrap;
}

.wrapper {
    /* height: 8vh; */
    display: flex;
    width: 77vw;
    margin-bottom: 2rem;
}

.input {
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    /* margin: 1vh 0 1vh 0; */
    background-color: #EAEEEF;
    color: #4F6C77;
    /* min-width: 50%; */
    resize: none;
}

.input:focus {
    border: none;
    outline: none;
}

.input::-webkit-scrollbar {
    width: 12px;
    /* Adjust the width as needed */
}

.input::-webkit-scrollbar-thumb {
    background-color: #9EABB3;
    border-radius: 3px;
    /* Change the thumb color */
}

.input::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Change the track color */
}


.even {
    align-self: flex-end;
    background-color: #9EABB3;
    min-width: 60%;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    margin: 0 1vh 0 .5vw;
    border: none;
    border-radius: 7px;
    color: rgb(81, 123, 137);
    font-size: 1.3rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}
